# AppStack Environment Variables

# Backend Configurations
PORT=5001
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/appstack?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="demo_super_secret_jwt_key_123"
FRONTEND_URL="http://localhost:3000"

# Email Configurations (Nodemailer)
EMAIL_USER="test@example.com"
EMAIL_PASS="test"

# reCAPTCHA Keys
RECAPTCHA_SECRET_KEY="your_recaptcha_secret_key"

# Frontend Configurations
NEXT_PUBLIC_API_BASE_URL="http://localhost:5001/api"
NEXT_PUBLIC_API_SOCKET_BASE_URL="http://localhost:5001"

# NextAuth Configurations
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="nextauth_demo_secret_key_987"

# OAuth Credentials
NEXT_GOOGLE_CLIENT_ID="google_client_id_here"
NEXT_GOOGLE_CLIENT_SECRET="google_client_secret_here"
NEXT_PUBLIC_RECAPTCHA_SITE_KEY="recaptcha_site_key_here"
